/* :root {
  --background: #f1eee7;
  --background-secondary: #444444;
  --background-highlight: #ffffff;
  --text-main: #444444;
  --text-hightlight: #ffffff;
  --main: #ffffff;
  --menu-background: #ffffff;
  --menu-text: #444444;
} */

:root {
  --background: #444444;
  --background-secondary: #f1eee7;
  --background-highlight: #000000;
  --text-main: #ffffff;
  --text-hightlight: #444444;
  --main: #444444;
  --menu-background: #000000;
  --menu-text: #f1eee7;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  background-color: var(--background);
  color: var(--text-main);
  height: 100vh;
}

.tab-panel {
  position: relative;
  margin: 0.5rem;
  width: calc(100% - 1rem);
  height: calc(90% - 1rem);
  display: flex;
  animation: fadeIn 0.5s;
}
.tab-panel.center {
  align-items: center;
  justify-content: center;
}
.tab-buttons {
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: calc(100vh - 1rem);
  display: flex;
}
.btn {
  margin: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  background: var(--background);
  width: 5rem;
  height: 2rem;
  color: var(--text-main);
  transition: 0.2s ease-in-out;
}
.btn.contained {
  border: solid 1px var(--background-secondary);
}
.btn:hover {
  background: var(--background-highlight);
}
.btn.active, .btn:active {
  color: var(--text-hightlight);
  background: var(--background-secondary);
}

.tab-select .select-list {
  display: none;
}
.tab-select:hover .select-list {
  display: block;
}
.select-list {
  list-style: none;
  background: var(--menu-background);
  position: absolute;
  width: 5rem;
  animation: fadeIn 0.2s;
}
.select-list li {
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 10;
  background: var(--menu-background);
}
.select-list li .btn {
  color: var(--text-main);
  background: none;
  border: solid 1px transparent;
}
.select-list li .btn:hover {
  border: solid 1px var(--background-secondary);
}

label.btn {
  position: relative;
  display: inline-block;
  width: 58%;
  height: 1rem;
}
input[type="file"] {
  display: none;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#code-area { z-index: 0 }
#code-area-input {
  z-index: 1;
  white-space: pre;
  overflow-wrap: normal;
  color: transparent;
  background: none;
  resize: none;
  caret-color: white;
}
#code-area,
#code-area-input {
  margin: 0;
  padding: 10px;
  border: 0;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  overflow-x: scroll;
  top: 0;
  left: 0;
}
#code-area,
#code-area *,
#code-area-input {
  text-align: left;
  font-size: 10pt;
  font-family: monospace;
  line-height: 14pt;
  tab-size: 2;
}

:not(pre)>code[class*=language-], pre[class*=language-] {
  background: #2d2d2d;
}
.token.keyword {
  color: rgb(147, 240, 71);
  font-weight: bold;
}

.obj-editor {
  width: 20rem;
}
.object-editor-container {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  width: auto;
  border-left: solid 1px var(--background-secondary);
  overflow: hidden;
  transition: max-height 0.2s ease-in;
}
.object-editor-label {
  margin-top: 0.5rem;
}
.object-editor-input {
  border: none;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  padding: 0.3rem 0.5rem;
}
.object-editor-collapsible {
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px var(--background-secondary);
  transition: 0.2s ease-in-out;
}
.object-editor-collapsible.active {
  border-radius: 0;
  border: solid 1px transparent;
  background: var(--background-secondary);
  color: var(--text-hightlight);
}
.object-editor-collapsible:after {
  content: '\002B';
  color: var(--background-secondary);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.object-editor-collapsible.active:after {
  content: "\2212";
  color: var(--background);
}