/* :root {
  --background: #f1eee7;
  --background-secondary: #444444;
  --background-highlight: #ffffff;
  --text-main: #444444;
  --text-hightlight: #ffffff;
  --main: #ffffff;
  --menu-background: #ffffff;
  --menu-text: #444444;
} */

:root {
  --background: #444444;
  --background-secondary: #f1eee7;
  --background-highlight: #000000;
  --text-main: #ffffff;
  --text-hightlight: #444444;
  --main: #444444;
  --menu-background: #000000;
  --menu-text: #f1eee7;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  background-color: var(--background);
  color: var(--text-main);
  height: 100vh;
}

hr {
  height: 1px;
  background: var(--background-secondary);
  border: none;
  margin: .5rem 0;
}

button {
  border: none;
}

.tab-panel {
  position: relative;
  margin: 0.5rem;
  width: calc(100% - 1rem);
  height: calc(90% - 1rem);
  display: flex;
  animation: fadeIn 0.5s;
}
.tab-panel.center {
  align-items: center;
  justify-content: center;
}
.tab-buttons {
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: auto;
  display: flex;
}
.btn {
  margin: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  background: var(--background);
  height: 2rem;
  color: var(--text-main);
  transition: 0.2s ease-in-out;
}
.btn.contained {
  border: solid 0.5px var(--background-secondary);
}
.btn:hover {
  border: transparent;
  background: var(--background-highlight);
}
.btn.active, .btn:active {
  color: var(--text-hightlight);
  background: var(--background-secondary);
}

.tab-btn {
  width: 5rem;
}
.tab-select .select-list {
  display: none;
}
.tab-select:hover .select-list {
  display: block;
}
.select-list {
  list-style: none;
  background: var(--menu-background);
  position: absolute;
  width: 5rem;
  animation: fadeIn 0.2s;
}
.select-list li {
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 10;
  background: var(--menu-background);
}
.select-list li .btn {
  color: var(--text-main);
  background: none;
  border: solid 1px transparent;
}
.select-list li .btn:hover {
  border: solid 1px var(--background-secondary);
}

label.btn {
  position: relative;
  display: inline-block;
  width: 58%;
  height: 1rem;
}
input[type="file"] {
  display: none;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#code-area { z-index: 0 }
#code-area-input {
  z-index: 1;
  white-space: pre;
  overflow-wrap: normal;
  color: transparent;
  background: none;
  resize: none;
  caret-color: white;
}
#code-area,
#code-area-input {
  margin: 0;
  padding: 10px;
  border: 0;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  overflow-x: scroll;
  top: 0;
  left: 0;
}
#code-area,
#code-area *,
#code-area-input {
  text-align: left;
  font-size: 10pt;
  font-family: monospace;
  line-height: 14pt;
  tab-size: 2;
}

:not(pre)>code[class*=language-], pre[class*=language-] {
  background: #2d2d2d;
}
.token.keyword {
  color: rgb(147, 240, 71);
  font-weight: bold;
}

.obj-editor {
  width: 20rem;
}
.object-editor-container {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  width: auto;
  border-left: solid 1px var(--background-secondary);
  overflow: hidden;
  transition: max-height 0.2s ease-in;
}
.object-editor-label {
  margin-top: 0.5rem;
}
.object-editor-input {
  border: none;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  padding: 0.3rem 0.5rem;
}
.object-editor-collapsible {
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px var(--background-secondary);
  transition: 0.2s ease-in-out;
}
.object-editor-collapsible.active {
  border-radius: 0;
  border: solid 1px transparent;
  background: var(--background-secondary);
  color: var(--text-hightlight);
}
.object-editor-collapsible:after {
  content: '\002B';
  color: var(--background-secondary);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.object-editor-collapsible.active:after {
  content: "\2212";
  color: var(--background);
}

#sprite-editor-tools {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  height: 30rem;
}
.sprite-editor-tool {
  margin-bottom: 0.25rem;
}

button.sprite-editor-tool {
  text-align: center;
}

#sprite-editor-container {
  --grid-color: rgb(0, 0, 0);
  position: relative;
  width: 30rem;
  height: 30rem;
  border: 3px solid var(--grid-color);
}
#sprite-editor-canvas, #sprite-editor-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#sprite-editor-canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
#sprite-editor-grid {
  pointer-events: none;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}
.sprite-editor-cell {
  border: 0.5px solid var(--grid-color);
}
.sprite-editor-cell:active {
	pointer-events: none;
}
.sprite-editor-cell:hover {
  background: #000000;
}
#sprite-editor-color-picker-label {
  width: 3rem;
  height: 1rem;
  background: white;
  border-radius: 0.2rem;
}
#sprite-editor-color-picker {
  visibility: hidden;
}

#audio-panel {
  flex-direction: column;
}
#audio-keyboard {
  display: flex;
}
.audio-key {
  --border-height: 8px;
  transition: 0.1s ease-in-out;
}
.audio-key.white {
  width: 4rem;
  height: 10rem;
  margin: 0 0.2rem;
  background-color: var(--background-secondary);
  border-bottom: var(--border-height) solid rgb(189, 189, 189);
}
.audio-key.black {
  width: 3rem;
  height: 6rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  z-index: 2;
  background-color: rgb(177, 177, 177);
  border-bottom: var(--border-height) solid rgb(117, 117, 117);
}
.audio-key:hover {
  filter: brightness(1.1);
}
.audio-key:active, .audio-key.active {
  filter: brightness(0.9);
}
.audio-key.white.active {
  border-bottom: 2px solid rgb(189, 189, 189);
}
.audio-key.audio-key.black.active.active {
  border-bottom: 2px solid rgb(117, 117, 117);
}

.audio-node {
  position: relative;
  padding: 0.25rem 1rem;
  margin: 1rem;
  border: solid 1px var(--background-secondary);
  background: var(--background);
}
.audio-node-label {
  background: var(--background);
  padding: 0 0.5rem;
  position: absolute;
  height: 1rem;
  top: -0.5rem;
  left: 0.5rem;
}

.audio-box {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20rem;
}

.audio-box {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 12rem;
}
.audio-box .slider {
  width: 7rem;
}
.audio-box label {
  text-align: left;
}
.audio-box p {
  text-align: center;
}